include *.ini
include *.service
include *.sh
include *.toml
include *.txt

include dist.py

recursive-include devel *.ini
recursive-include devel *.sh
recursive-include devel *.txt

recursive-include rosshm/wapp *.ini
