html {
	background-color: #eee;
	font-family: monospace;
}
body {
	background-color: #fff;
	border: 1px solid #ddd;
	padding: 15px; margin: 15px;
}
pre {
	background-color: #eee;
	border: 1px solid #ddd;
	padding: 5px;
}
