html {
	color: #111;
	background-color: #444;
	font-family: sans;
}
body {
	background-color: #ddd;
	border: 1px solid #bbb;
	padding: 15px; margin: 15px;
}
pre {
	font-family: monospace;
	background-color: #bbb;
	border: 1px solid #aaa;
	padding: 5px;
}
